* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.redline {
    border-top: 5px solid red;
    position: relative;
}


.main_menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: center;
    color: white;

}

.main_menu>li>a {
    color: white;
    text-decoration: none;
}

.socialmedia>a {
    color: white;
    text-decoration: none;
}

/* .carousel-indicators {
    height: 40px;
    width: 40px;
    border-radius: 50%;
} */

.carousel-control-next-icon :hover {
    color: red;
}

.carousel-content {
    position: absolute;
    color: white;
    /* z-index: 20; */
    bottom: 34%;
    text-align: center;
    left: 22.5rem;
}


.carousel-content h3 {
    font-family: courgette;
    font-size: 55px;
}

.carousel-content h2 {
    font-family: poppins;
    font-size: 90px;
    font-weight: 700;
    letter-spacing: 7px;
    padding-bottom: 2rem;
}

.carousel-btn {
    color: rgb(252, 167, 181);
    font-size: 12px;
    font-weight: 500;
    border: none;
    font-family: "montserrat";

}

/* SECTION 2 */

.section-2 {
    padding-top: 120px;
    padding-bottom: 105px;
    background-color: #EFEFEF;
}

.section-2-flex {
    display: flex;
    flex-direction: column;
}



.fa-long-arrow-right {
    color: red;
    size: 2px;

}

/* SECTION 3 */

.section-3-image {
    background-image: url(./Images/section-3\ photo.jpg);
    background-position: center 6.33333px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 60vh;
}


.section-3-content {
    text-align: center;
    padding-top: 7rem;
}

.section-3-content h3 {
    color: red;
    font-family: "courgette";

}

.section-3-content h2 {
    font-family: "poppins";
    color: white;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 10px;
}


/* SECTION 4 */

.section-header {
    text-decoration: none;
    font-family: poppins;
    color: black;
    letter-spacing: 6px;
}


.learn-more4 {
    margin-top: 4rem;
    text-decoration: none;
    font-family: montserrat;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.799);
    letter-spacing: 2px;
}

.story>a {
    text-decoration: none;
}

/* not responding */
.learn-more4 :hover {
    color: red;
}

/* not responding */
/* .story>.learn-more4 :hover { 
    color: red;
} */

.story>h3 {
    font-size: 20px;
    margin-top: 2rem;
}

.story>h3 :hover {
    color: red;
}

.fa-long-arrow-right {
    color: black;
}

.story>p {
    font-family: montserrat;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.799);
}

/* SECTION 5 */
.section-5 {
    background-color: #EFEFEF;
}


/* SECTION 6 */

.carousel-header {
    color: white;
    /* bottom: 70%; */
    text-align: center;
}

.woman-drinking {
    width: 550px;

}

.carousel-content-image {
    z-index: 20;
}


/* SECTION 7 */

.section-7 {
    padding-top: 120px;
    padding-bottom: 105px;
    background-color: #EFEFEF;
}

.section-7-header {
    margin-top: -2rem;
}

.section-7-header h3 {
font-family: courgette;
color: #D61C22;
margin-left: 13rem;
}

.section-7-header h2 {
font-family: poppins;
font-size: 50px;
font-weight: 700;
letter-spacing: 5px;
margin-left: 6rem;
}

form {
    padding: 10px 0px;
    font-family: montserrat;

}

input [type=text] {
    border: 4px solid gainsboro;

}


.hours {
padding: 10px 0px;
}

.section-7-image {
    margin-top: -6rem;
    margin-left: 4rem;
    border-radius: 20px;
}



.booking-btn {
    margin-left: 21rem;
    margin-top: -3rem;
    border-radius: 25px;   
    padding: 0px 10px;
    
   
}

.booking-btn>a {
    color: white;
    text-decoration: none;
    font-family: montserrat;
    font-size: 12px;
}


.booking-btn>a:hover {
    background-color: #D61C22;
}

.people {
    bottom: 12px;
}

.time {
    bottom: 12px;

}

input::webkit-outer-spin-button,
webkit-outer-spin-button {
    caret: none;
}

/* SECTION 8 */